apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: demo-python
spec:
  replicas: 1 
  template: 
    spec:
      containers:
        - image: quay.io/roming22-org/public:437b0defe4823ae38154536c30c39534248f87a6@sha256:19964d9483b384e3d52b090fa23460d1eae79c513b072898f28e584d953e0eb6
          name: container-image
